header{
    background-color: var(--primary);
    nav{
        .nav-link{
            padding: 0;
        }

        .navbar-nav{
            justify-content: space-between;
            li{               
                a{
                    color: #fff;
                    text-transform: uppercase;
                    font-weight: 500;
                    font-size: 1.2rem;

                    &:hover,&.active{
                        text-decoration: underline;
                        transition: all 0.4s;
                    }
                }
            }
        }
        .action_btns{
            align-items: center;
        }

        .navbar-toggler{
            border: none;
            color: #fff;
            font-size: 1.8rem;
            padding: 0;
            padding-left: 1rem;
            &:focus{
                outline: none;
                box-shadow: none;
            }
        }
    }
}

/*** responsive***/
@media screen  and (min-width:992px){
    
    header{
       padding: 2rem;
        .navbar-nav{
            li{
                padding: 0 2.125rem;
            }
        }

        .action_btns{
            order: 3;
        } 
    }
     
}

@media screen and (max-width:991px) {
    .navbar-nav{
        li{
            padding: 1.5rem 0;
            text-align: center;
        }
    }
}