
<section id="reservation" class="bg--primary position-relative section_padding">
    <img src="../../../../assets/imgs/blue_line.png" alt="Blue Line" class="img-fluid" class="separator_blue position-absolute">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12">
                <h2 class="text-center section_header text--secondary">
                    Make A Reservation
                </h2>
            </div>
        </div>

        <form class="row g-5">
            
            <div class="col-md-4">
                
                    <select id="number_persons" class="form-select">
                        <option selected>2 People</option>
                        <option>3 People</option>
                        <option>+4 People</option>
                    </select>
                
            </div>

            <div class="col-md-4">
                <div class="input-group mb-3">
                    
                    <input type="date" class="form-control" id="reservation_date" aria-describedby="reservation_date">
                    <span class="input-group-text" id="basic-addon3">
                        <img src="../../../../assets/imgs/icons/date.png" alt="Reservation Date">
                    </span>

                </div>
            </div>
            
            <div class="col-md-4">
                <div class="input-group mb-3">
                    
                    <input type="time" class="form-control" id="reservation_date" aria-describedby="reservation_date">
                    <span class="input-group-text" id="basic-addon3">
                        <img src="../../../../assets/imgs/icons/time.png" alt="Reservation Time">
                    </span>

                </div>
            </div>

            <div class="col-md-4">
                <div class="mb-3">
                    
                    <input type="text" class="form-control" id="reservation_name" placeholder="Name">

                </div>
            </div>

            <div class="col-md-4">
                <div class="mb-3">
                    
                    <input type="email" class="form-control" id="reservation_email" placeholder="Email">

                </div>
            </div>

            <div class="col-md-4">
                <div class="mb-3">
                    
                    <input type="number" class="form-control" id="reservation_phone" placeholder="Phone">

                </div>
            </div>
            
            
            <div class="col-12 text-center my-5">
                <button type="submit" class="btn btn-custom">SUBMIT</button>
            </div>
        </form>
    </div>
    <img src="../../../../assets/imgs/horizontal_arrow_yellow.png" alt="Blue Line" class="img-fluid" class="separator_yellow position-absolute">
    <img src="../../../../assets/imgs/shape2.png" alt="Blue Line" class="img-fluid" class="blue_cercle position-absolute">
</section>
