<section class="section_padding">
    <div class="container"  data-aos="fade-up"
     data-aos-easing="linear"
     data-aos-duration="1500">
    <form action="" id="menu">
    <div class="row px-lg-5 px-md-2">
        <div class="col-12 text-center">
            <h2 class="text-uppercase section_heading">Menu</h2>
            <p class="text--primary section_description py-5">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ut aliquip ex ea. commodo. consequat. Duis aute irure dolor in reprehenderit in vo commodo. consequat. Duis aute.
            </p>
        </div>
        
        <div class="col-md-6">
            <h3 class="text-uppercase mb-3">BURGERS & MILKSHAKES</h3>
            <ul class="list-unstyled">
                <li class="d-flex align-items-center justify-content-between">
                    <span class="product_title">Classic Burger</span>
                    <div class="d-flex align-items-center">
                        <span class="price">€ 00</span>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                           
                        </div>
                    </div>
                </li>

                <li class="d-flex align-items-center justify-content-between">
                    <span class="product_title pe-3">Cheese Burger</span>
                    <div class="d-flex align-items-center">
                        <span class="price">€ 00</span>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                           
                        </div>
                    </div>
                </li>

                <li class="d-flex align-items-center justify-content-between">
                    <span class="product_title pe-3">Double Cheese Burger</span>
                    <div class="d-flex align-items-center">
                        <span class="price">€ 00</span>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                           
                        </div>
                    </div>
                    
                </li>

                <li class="d-flex align-items-center justify-content-between">
                    <span class="product_title pe-3">Chocolate Milkshake</span>
                    <div class="d-flex align-items-center">
                        <span class="price">€ 00</span>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                           
                        </div>
                    </div>
                </li>

                <li class="d-flex align-items-center justify-content-between">
                    <span class="product_title pe-3">Strawberry Milkshake</span>
                    <div class="d-flex align-items-center">
                        <span class="price">€ 00</span>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                           
                        </div>
                    </div>
                </li>

                <li class="d-flex align-items-center justify-content-between">
                    <span class="product_title pe-3">Banana Milkshake</span>
                    <div class="d-flex align-items-center">
                        <span class="price">€ 00</span>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                           
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <h3 class="text-uppercase mb-3">DESSERTS</h3>
            <ul class="list-unstyled">
                <li class="d-flex align-items-center justify-content-between">
                    <span class="product_title pe-3">Ice Cream</span>
                    <div class="d-flex align-items-center">
                        <span class="price">€ 00</span>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                           
                        </div>
                    </div>
                </li>

                <li class="d-flex align-items-center justify-content-between">
                    <span class="product_title pe-3">Triple Chocolate Cookie</span>
                    <div class="d-flex align-items-center">
                        <span class="price">€ 00</span>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                           
                        </div>
                    </div>
                </li>

                <li class="d-flex align-items-center justify-content-between">
                    <span class="product_title pe-3">New York Cheesecake</span>
                    <div class="d-flex align-items-center">
                        <span class="price">€ 00</span>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                           
                        </div>
                    </div>
                </li>

                <li class="d-flex align-items-center justify-content-between">
                    <span class="product_title pe-3">Sacher Cake</span>
                    <div class="d-flex align-items-center">
                        <span class="price">€ 00</span>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                           
                        </div>
                    </div>
                </li>

                <li class="d-flex align-items-center justify-content-between">
                    <span class="product_title pe-3">Chocolate Muffin</span>
                    <div class="d-flex align-items-center">
                        <span class="price">€ 00</span>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                           
                        </div>
                    </div>
                </li>

                <li class="d-flex align-items-center justify-content-between">
                    <span class="product_title pe-3">Berry Muffin</span>
                    <div class="d-flex align-items-center">
                        <span class="price">€ 00</span>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                           
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- line 2-->
        <div class="col-12 text-center py-4">
            <p class="text-uppercase font--md d-flex justify-content-between">if you want, you can exchange A milkSHAKE foR A DRINK <span class="text--primary">(+ €0,85)</span></p>
        </div>
    </div>
    <!-- line 3-->
    <div class="row py-4 align-items-center drinks_section">
       <div class="col-lg-3 col-md-2">
        <h4 class="mb-md-0">DRINKS</h4>
       </div>
       <div class="col-lg-9 col-md-10">
        <div class="row drinks_list">
            <div class="col-lg-4">
               <div class="d-flex align-items-center justify-content-between">
                    <label class="form-check-label" for="flexRadioDefault1">Mineral Water<span class="price">€ 00</span> </label>
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">                                          
                </div>
            </div>

            <div class="col-lg-4">
               <div class="d-flex align-items-center justify-content-between">
                    <label class="form-check-label" for="flexRadioDefault1">Iced Tea<span class="price">€ 00</span>  </label>
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">  
                                        
                </div>
            </div>

            <div class="col-lg-4">
               <div class="d-flex align-items-center justify-content-between">
                    <label class="form-check-label" for="flexRadioDefault1">Orange Juice<span class="price">€ 00</span>  </label>
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">  
                </div>
            </div>
        </div>
       </div> 
    </div>

    <!--Call To Action-->
    <div class="row mt-5">
        <div class="col-12 text-center">
            <button type="button" class="btn btn-primary text-uppercase">Add To Cart</button>
        </div>
    </div>
    </form><!-- /form-->
    
</div>

</section>
 <!--COMBOS-->
<app-combos></app-combos>
