#menu{
    font-size: 1.125rem;
    .section_heading{
        color: var(--secondary);
        font-size: 9.375rem;
        font-weight: 900;
    }
    .section_description{
        font-size: 1.225rem;
    }

    h3{       
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.333;
       font-size: 1.363rem;
    }

    ul{
        li{
            .price{
                color: var(--primary);
            }
        }
    }

    .drinks_section{
        h4{
            font-weight: 700;
            text-transform: uppercase;
        }

        .drinks_list{
            div{
                span.price{
                    color: var(--primary);
                    margin: 0 5px 0 15px;
                }
                flex:1;
                padding: 0 10px;
                
            }       
        }

    }
    


}

@media screen and (max-width:991px) {
    #menu{
    .section_heading{
            font-size: 5.375rem;
        }
    }
    
}