footer{
    .footer_top{
        padding: 60px 100px 70px;
        a{
            text-decoration: none;
             color: var(--dark-grey);
             &:hover{
                color: var(--primary);
             }
        }
        h3{
            font-size: 1.25rem;
            font-weight: 700;
            margin-bottom: 30px;
            color: var(--dark-grey);
            text-transform: uppercase;
        }
        ul{
            padding: 0;
            margin: 0;
            list-style: none;
            li{
                a{
                    text-decoration: none;
                    color: var(--dark-grey);
                    font-size: 1.125rem;
                }
            }
        }
    }
}