<footer>
    <div class="container-fluid footer_top bg--secondary">
        <div class="row mb-4">
            <div class="col-md-6">
                <h3>About Us</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div class="col-md-3">
                <h3>Top Links</h3>
                <ul>
                    <li>
                        <a href="">Team</a>
                    </li>
                    <li>
                        <a href="">Join Us</a>
                    </li>
                    <li>
                        <a href="">Ethic</a>
                    </li>
                    <li>
                        <a href="">Goals</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3">
                <h3>Menu</h3>
                <ul>
                    <li>
                        <a href="">Combos</a>
                    </li>
                    <li>
                        <a href="">Reservation</a>
                    </li>
                    <li>
                        <a href="">Our Chef</a>
                    </li>
                    <li>
                        <a href="">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--second footer row-->
        <div class="row">
            <div class="col-md-3">
                <h3>We are Here</h3>
                <address>
                    <p>123 Main Street, <br>123456</p>
                </address>
            </div>

            <div class="col-md-3">
                <h3>Open Daily</h3>
                <div>Every day from <br>11 AM to 10 PM.</div>
            </div>

            <div class="col-md-3">
                <h3>Call Us</h3>
                <a href="tel:+34 123 456 789">+34 123 456 789</a>
            </div>

            <div class="col-md-3">
                <h3>Top Links</h3>
                <ul>
                    <li>
                        <a href="">Team</a>
                    </li>
                    <li>
                        <a href="">Join Us</a>
                    </li>
                    <li>
                        <a href="">Ethic</a>
                    </li>
                    <li>
                        <a href="">Goals</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid footer_bottom bg--primary">
        <div class="row">
            <div class="col-12 text-center text-white py-3">
                &copy; 2012 FOOD RESTAURANT. ALL RIGHTS RESERVED.
            </div>
        </div>
    </div>
</footer>
