<footer  data-aos="fade-down"
     data-aos-easing="linear"
     data-aos-duration="1500" id="footer">
    <div class="container-fluid footer_top bg--secondary" >
        <div class="row">
            <div class="col-md-6 mb-4">
                <h3>About Us</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div class="col-md-3 col-6 mb-4">
                <h3>Top Links</h3>
                <ul>
                    <li>
                        <a href="">Team</a>
                    </li>
                    <li>
                        <a href="">Join Us</a>
                    </li>
                    <li>
                        <a href="">Ethic</a>
                    </li>
                    <li>
                        <a href="">Goals</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3 col-6 mb-4">
                <h3>Menu</h3>
                <ul>
                    <li>
                        <a href="">Combos</a>
                    </li>
                    <li>
                        <a href="">Reservation</a>
                    </li>
                    <li>
                        <a href="">Our Chef</a>
                    </li>
                    <li>
                        <a href="">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--Second footer row-->
        <div class="row">
            <div class="col-md-3 col-6 mb-4">
                <h3>We are Here</h3>
                <address>
                    <p>123 Main Street, <br>123456</p>
                </address>
            </div>

            <div class="col-md-3 col-6 mb-4">
                <h3>Open Daily</h3>
                <div>Every day from <br>11 AM to 10 PM.</div>
            </div>

            <div class="col-md-3 mb-4">
                <h3>Call Us</h3>
                <a href="tel:+34 123 456 789">+34 123 456 789</a>
            </div>

            <div class="col-md-3 mb-4">
                <h3>Say Hello</h3>
                <p><a href="mailto:hello@yourwebsite.com">hello@yourwebsite.com</a> <br>
                <a href="www.yourwebsite.com" target="_blank">www.yourwebsite.com</a></p>
            </div>
        </div>
        <!--/Second footer row-->

        <!--Third footer row-->
        <div class="row align-items-center">
            <div class="col-md-6 newsletter mb-md-0 mb-4">
                <form action="#">
					<input placeholder="E-MAIL" type="email" name="newsletter" class="form-control">
					<button class="btn btn-primary ms-md-3">SUBSCRIBE</button>
				</form>
            </div>
            <div class="col-md-3 d-flex justify-content-between mt-md-0 mt-4">
                <h3 class="mb-md-0">Follow Us</h3>              
            </div>
            <div class="col-md-3">
                <ul class="list-unstyled d-flex social_icons">
                    <li>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                    </li>

                    <li>
                        <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                    </li>

                    <li>
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid footer_bottom bg--primary">
        <div class="row">
            <div class="col-12 text-center text-white py-3">
                &copy; 2012 FOOD RESTAURANT. ALL RIGHTS RESERVED.
            </div>
        </div>
    </div>
</footer>
