<section id="blog" class="section_padding">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="section_header text--primary">Burger Blog</div>
                <p class="section_desc text--primary">
                    Discover the best Burger recipes
                </p>
            </div>
        </div>

        <div class="row blogs_list">
            <div class="col-md-4">
                <div class="card no-border transparent">
                <img src="../../../../assets/imgs/product.png" class="card-img-top" alt="Blog 1">
                <div class="card-body text-center">
                    <div class="blog_date">Classic Burger / 26th May, 2020</div>
                    <h5 class="card-title">Lorem ipsum dolor sit</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed</p>
                    <a href="#" class="btn btn-link">READ MORE</a>
                </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card no-border transparent">
                <img src="../../../../assets/imgs/product.png" class="card-img-top" alt="Blog 1">
                <div class="card-body text-center">
                    <div class="blog_date">Classic Burger / 26th May, 2020</div>
                    <h5 class="card-title">Lorem ipsum dolor sit</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed</p>
                    <a href="#" class="btn btn-link">READ MORE</a>
                </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card no-border transparent">
                <img src="../../../../assets/imgs/product.png" class="card-img-top" alt="Blog 1">
                <div class="card-body text-center">
                    <div class="blog_date">Classic Burger / 26th May, 2020</div>
                    <h5 class="card-title">Lorem ipsum dolor sit</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed</p>
                    <a href="#" class="btn btn-link">READ MORE</a>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>
