<section id="blog" class="section_padding position-relative"  data-aos="fade-up"
     data-aos-easing="linear"
     data-aos-duration="1500">
    <img src="../../../../assets/imgs/zigzag.png" alt="Amarican Burger" class="zigzag img-fluid position-absolute">

    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="section_header text--primary">Burger Blog</div>
                <p class="section_desc text--primary">
                    Discover the best Burger recipes
                </p>
            </div>
        </div>

        <div class="row blogs_list">
            <div class="col-md-4">
                <div class="card no-border transparent">
                <img src="../../../../assets/imgs/product.png" class="card-img-top" alt="Blog 1">
                <div class="card-body text-center">
                    <div class="blog_date">Classic Burger / 26th May, 2020</div>
                    <h5 class="card-title">Lorem ipsum dolor sit</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed</p>
                    <a href="#" class="btn btn-link">READ MORE</a>
                </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card no-border transparent">
                <img src="../../../../assets/imgs/product.png" class="card-img-top" alt="Blog 1">
                <div class="card-body text-center">
                    <div class="blog_date">Classic Burger / 26th May, 2020</div>
                    <h5 class="card-title">Lorem ipsum dolor sit</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed</p>
                    <a href="#" class="btn btn-link">READ MORE</a>
                </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card no-border transparent">
                <img src="../../../../assets/imgs/product.png" class="card-img-top" alt="Blog 1">
                <div class="card-body text-center">
                    <div class="blog_date">Classic Burger / 26th May, 2020</div>
                    <h5 class="card-title">Lorem ipsum dolor sit</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed</p>
                    <a href="#" class="btn btn-link">READ MORE</a>
                </div>
                </div>
            </div>
        </div>
    </div>

<img src="../../../../assets/imgs/yellow_arrow.png" alt="Amarican Burger" class="yellow_arrow img-fluid position-absolute" width="100px">
<img src="../../../../assets/imgs/footer_arrow.png" alt="Amarican Burger" class="footer_pink_arrow img-fluid position-absolute z-1000"  width="100px">

</section>
