<section id="creators" class="section_padding position-relative">
    <img src="../../../../assets/imgs/yellow_semi_cercle.png" alt="Amarican Burger" class="img-fluid position-absolute top-0 left-25" width="100px">
    <img src="../../../../assets/imgs/colored_arrows.png" alt="Amarican Burger" class="colored_arrows img-fluid position-absolute top-20 right-15">

    <div class="container">
        <div class="row align-items-center">
                <div class="col-md-8">
                    <h2 class="section_header text--secondary">The Creators</h2>

                    <div class="creators_list">
                        <div class="row horizontal_card mb-4 px-4">
                            <div class="col-lg-2 col-md-3 card-header blue_outline">P</div>
                            <div class="col-md-9 col-lg-10 card-body">
                                <h5>Name Creator</h5>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
                            </div>
                        </div>

                        <div class="row horizontal_card px-4">
                            <div class="col-lg-2 col-md-3 card-header yellow_outline">P</div>
                            <div class="col-md-9 col-lg-10 card-body">
                                <h5>Name Creator</h5>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!--image-->
                <div class="col-md-4 img_wrapper">
                    <img src="../../../../assets/imgs/food.png" alt="Food" class="img-fluid">
                </div>
            </div>
        </div>
 <img src="../../../../assets/imgs/blue_semi_cercle.png" alt="Amarican Burger" class="img-fluid position-absolute bottom-0 left-65" width="100px">
 <img src="../../../../assets/imgs/blue_filled_semi_cercle.png" alt="Amarican Burger" class="blue_filled_semi_cercle img-fluid position-absolute bottom-20 left-0 z-1000" >

</section>
