.main_banner{
    background-color: var(--primary);
    padding:7rem 0 0;
    text-align: center;
    position: relative;
    z-index: 1;

    h1{
        color: var(--light);
        font-weight: 900;
        font-size: 6.25rem;
        line-height: 1.2;
        margin-bottom: 7rem;
    }

    h5{
        color: var(--light);
        font-size: 2.8rem;
        font-weight: 400;
        margin-bottom: 3rem;
    }   

    a.scroll{
        margin-bottom: 10rem;
        color: #fff;
        font-size: 2.5rem;
        border-radius: 50%;
        border: 1px solid #fff;
        width: 75px;
        height: 75px;
        line-height: 75px;
        z-index: 500;

        &:hover,
        a:focus{
            background-color: var(--secondary);
            border-color: var(--secondary);
            transition: all 0.4s;
        }
    }

    .banner_zigzag{
        top: 55%;
        right: 0;
    }

}
.dark_lines{
        top: 65%;
        left: 25px;
        z-index: 3;
}
.yellow_demi_cercle{
    top:80%;
    z-index: 4;
}

.blue_demi_cercle{
    right: 0;
    top: 92%;
}

.bg-bradient-pink{
        background: var(--primary);
        background: linear-gradient(180deg, var(--primary) 50%, #fff9f4 50%);
        margin-top: -2px;
       .text-center{
         z-index: 2;
       }
        img{
            margin-top: -80px;
        }
    }

@media screen and (max-width:991px){
    
    .main_banner{
        padding: 2rem 0 0;
    
        h1{
            font-size: 3rem;
            margin-bottom: 2rem;
        }
        h5{
            font-size: 1.8rem;
            margin-bottom: 8rem;
        }
    }
}

@media screen and (max-width:767px) {
    .banner_zigzag{
        max-width: 150px;
    }
}