<section>
    <div class="container-fluid main_banner px-0">
        <div class="row">
            <div class="col-12">
                <h1 class="text-uppercase">
                    We <span class="text--secondary">Love</span> <br/>
                    American Food
                </h1>

                <h5 class="text-uppercase">Discover Why</h5>
                <a href="#menu" class="scroll d-block mx-auto"><i class="fa-solid fa-angle-down"></i></a>
            </div>
        </div>
        <img src="../../../../assets/imgs/zigzag.png" alt="Amarican Burger" class="banner_zigzag img-fluid position-absolute" data-aos="fade-left"
     data-aos-easing="linear"
     data-aos-duration="1500">
    </div>
    <div class="container-fluid">
        <!--image-->
        <div class="row bg-bradient-pink">
            <div class="col-lg-4 col-md-6 col-10 text-center mx-auto">
                <img src="../../../../assets/imgs/hamburger.png" alt="American Food Hamburger" class="motif img-fluid">
            </div>
        </div>
    </div>
    <img src="../../../../assets/imgs/shape3.png" alt="Dark Lines" class="img-fluid dark_lines position-absolute" data-aos="fade-right"
     data-aos-easing="linear"
     data-aos-duration="1500">
    <img src="../../../../assets/imgs/shape1.png" alt="Shape 1" class="img-fluid yellow_demi_cercle position-absolute" data-aos="fade-right"
     data-aos-easing="linear"
     data-aos-duration="1500">

     <img src="../../../../assets/imgs/shape2.png" alt="Shape 2" class="img-fluid blue_demi_cercle position-absolute" data-aos="fade-left"
     data-aos-easing="linear"
     data-aos-duration="1500">
</section>
