<section id="about" class="section_padding position-relative bg--secondary">
<img src="../../../../assets/imgs/shape3.png" alt="Dark Lines" class="img-fluid" class="dark_lines position-absolute">
<div class="container-fluid px-0">
    <div class="row align-items-center">
        <div class="col-md-6 about_wrapper">
            <img src="../../../../assets/imgs/about.png" alt="About Amarican Burger" class="img-fluid about_img">
        </div>

        <div class="col-md-6 font--md px-md-5 px-4">
            <h2 class="section_header text--primary mb-md-5 mb-3">About Us</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui commodi incidunt natus aut quam quisquam aspernatur adipisci sed nemo laboriosam ratione temporibus beatae recusandae, quaerat assumenda praesentium repudiandae nisi error.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui commodi incidunt natus aut quam quisquam aspernatur adipisci sed nemo laboriosam ratione temporibus beatae recusandae, quaerat assumenda praesentium repudiandae nisi error.</p>
        </div>
    </div>
</div>
 <img src="../../../../assets/imgs/shape3.png" alt="Dark Lines" class="img-fluid" class="dark_lines position-absolute">
</section>
