<section class="bg--secondary section_padding" id="howtoOrder">
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-12 heading">
            <h2 class="text-center section_heading text--primary text-uppercase">How do you order our Burgers?</h2>
        </div>

        <!--3 cercles-->
        <div class="row cercles_wrapper">
            <div class="col-md-4">
                <div class="cercle">
                    <h4>Choose</h4>
                    <p>Choose what you prefer from our Menu. If you don’t want to think choose directly a Combo.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="cercle">
                    <h4>Choose</h4>
                    <p>Choose what you prefer from our Menu. If you don’t want to think choose directly a Combo.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="cercle">
                    <h4>Choose</h4>
                    <p>Choose what you prefer from our Menu. If you don’t want to think choose directly a Combo.</p>
                </div>
            </div>
        </div>
    </div>
    
    <!--Free Delivery Section-->
    <div class="row free_delivery py-5 align-items-center">
        <div class="col-md-6 mb-md-0 mb-4">
            <img src="../../../../assets/imgs/blue_cercle.png" alt="American Burger" class="img-fluid">
        </div>

        <div class="col-md-6 position-relative">
           <div class="subheading">
                <div class="text-end">
                    <img src="../../../../assets/imgs/plus.png" alt="Get Voucher" class="img-fluid">
                </div>
                <h2 class="section_header">Free <br>Delivery</h2>
                
            </div>
            <p class="text-white py-3">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            </p>

            <a href="#" class="btn btn-primary w-75">Get A Voucher</a>
        </div>
    </div>
</div>
</section>
