/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{
    --primary: #ff9292;
    --bs-primary: #ff9292;
    --secondary: #ffdd67;
    --light: #fff;
    --dark-grey:#403f3f;
    --bs-link-color: #403f3f;
    --bs-blue: #ff9292;
    --bs-link-hover-color:#ff9292;
}
$primary:       var(--primary) !default;
$secondary:     var(--secondary) !default;


body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--dark-grey);
    overflow-x: hidden;
    background-color: #fff9f4 !important;
}

.text--primary{
    color: var(--primary);
}

.text--secondary{
    color: var(--secondary);
}

.bg--primary{
    background: var(--primary);
}

.bg--secondary{
    background: var(--secondary);
}
.font--md{
    font-size: 1.225rem;
}

.form-check-input:checked[type=radio] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%ff9292'/%3e%3c/svg%3e") !important;
}
.form-check-input:checked {
    background-color: $primary !important;
    border-color: var(--dark-grey) !important;
}

.form-check-input:focus {
    border-color: #ff9292 !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(255 146 146 / 25%) !important;
}
.form-control:focus {
    color: var(--dark-grey) !important;
    background-color: transparent !important;
    border-color: #ff9292 !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(255 146 146 / 25%) !important;
}
.form-check{
    margin-bottom: 0 !important;
}
.form-check-input {
    width: 0.7em !important;
    height: 0.7em !important;
    
}

.form-check .form-check-input{
    margin-left: 0 !important;
}
.btn{
 border-radius: 35px !important;
 font-weight: 500 !important;
    font-size: 1.025rem !important;
    transition: all 0.4s;
    text-transform: uppercase;
    border-width: 2px !important;
}
.btn-primary{
    padding: 8px 35px !important;
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.btn-primary:hover,.btn-primary:focus{
    background-color: var(--secondary) !important;
    border-color: var(--secondary) !important;
    color: var(--dark-grey) !important;
}

.btn-outline{
    background-color: transparent !important;
    color: var(--dark-grey) !important;
    border-width: 2px !important;
}

.slick-prev:before, .slick-next:before {
        color: var(--primary);
        font-size: 2rem;
    }
.slick-next {
    right: 2px;
    z-index: 10;
}

.slick-prev {
    left: 2px;
    z-index: 10;
}

.section_padding{
    padding: 100px 0 100px;
}

.fixedTop{
    position: fixed;
    width: 100%;
    z-index: 3000;
    padding-top: 5px !important;
    padding-bottom: 0 !important;
    box-shadow: -5px -12px 34px #fafafa;
}

.section_header{
    font-weight: 900;
    text-transform: uppercase;
    font-size: 6.25rem;
    position: relative;
    z-index: 500;
}

@media screen and (max-width:1199px) and (min-width:992px){
    .section_header{
        font-size:4rem;
    }
}

@media screen and (max-width:991px) {
    .section_header{
        font-size:2.7rem;
    }
    .font--md{
        font-size: 1.125rem;
    }
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.form-select{
    background-image: url("./assets/imgs/icons/white_caret.png");
}

.left-25{
    left: 25%;
}

.left-65{
    left: 65%;
}

.right-15{
    right:15px;
}

.top-20{
    top: -20%;
}

.z-1000{
    z-index: 1000;
}

.bottom-20{
    bottom: -20%;
}